<% provide :title, t(".subtitle") %>
<h1><%= t ".subtitle" %></h1>
<p>
  <%= link_to t(".path_text"), Settings.help.path_link %>
  <%= t ".end_text" %>
  <%= link_to t(".path_text1"), Settings.help.path_link1 %>
  <%= t".end_text1" %>
  <%= link_to t(".path_text2"), Settings.help.path_link2 %>
  <%= t ".end_text2" %>
  <%= link_to t(".path_text3"), Settings.help.path_link3 %>
  <%= t ".end_text3" %>
  <%= link_to t(".path_text4"), Settings.help.path_link4 %>
  <%= t ".end_text4" %>
</p>
