<% provide :title, t(".subtitle") %>
<h1><%= t ".subtitle" %></h1>
<p>
  <%= t ".page_text" %>
  <%= link_to t(".path_text"), Settings.help.path_link %>
  <%= t ".text" %>
  <%= link_to t(".path_text2"), Settings.help.path_link2 %>
</p>
