<h1><%= t ".title" %></h1>
<p><%= t ".reset_your_pass" %></p>
<%= link_to t(".click"), edit_password_reset_url(id: @user.reset_token,
email: @user.email) %>
<p><%= t ".time_expire" %></p>
<p><%= t ".not_request" %></p>
